<div class="container">
  <div class="title">
    <h1>Les Avis</h1>
  </div>

  <div class="task">
      <% if @reviews.length === 0 %>
        <p class="button-action">Il n'y a pas encore d'avis..</p>
        <p class="button-action"><i class="fa-solid fa-plus"></i> <%= link_to 'Postez le votre !', restaurant_path(@restaurant) %></p>
      <% else %>
        <ul class="list-group list-group-flush">
          <% @reviews.each do |r| %>
            <li class="list-group-item"><%= r.rating %>/5 | <%= r.content %></li>
          <% end %>
        </ul>
      <% end %>

    <div class="add border-top pt-3">
      <p class="button-action"><i class="fa-solid fa-rotate-left"></i> <%= link_to 'Retour', restaurant_path(@restaurant) %></p>
    </div>
  </div>
</div>
